body{
  background-image: url(nyc.jpg);
  background-size: cover;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  animation: mob 4000ms linear infinite;
} 

.penguin-container{
  width: 120px;
  position: absolute;
  left: 10%;
  top: 40%;
  background-color: blue;
  /* forwards the animation remain in the state of the end */
 
}
.up{
  animation: pengAnimUp 2000ms  infinite;
}
.down{
  animation: pengAnimDown 2000ms  infinite;
}

.car-1-container{
  width: 140px;
  position: absolute;
  left: 100%;
  top: 40%;
  background-color: red;
  transform: scaleX(-1) ;
}
  
  


.car-1-container img{
  width: 100%;
}
.penguin-container img{
  width: 80%;
  transform: scaleX(-1) ;
}




.car-2-container{
  background-color: red;
  width: 140px;
  position: absolute;
  left: 100%;
  top: 80%;
  transform: scaleX(-1) ;
}
.car-2-container img{
  width: 100%;

}



.moving{
  animation: enemyMovingLeft 4000ms  infinite;
}


@keyframes enemyMovingLeft{
  0%{
    left: 100%;
    
  }
  100%{
    left: -30%;
    
  }
}



@keyframes pengAnimUp{
  0%,
  100%{
    left: 10%;
    top: 40%;
  }
  50%{
    left: 10%;
    top: 5%;
  }
}


@keyframes pengAnimDown{
  0%,
  100%{
    left: 10%;
    top: 40%;
  }
  50%{
    left: 10%;
    top: 80%;
  }
}


@keyframes mob{
  100%{
    background-position: -100vw 0 ;
  }
}

